.messages_wrap {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}
.messages {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  align-items: center;
}
.dialogs {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  background-color: green;
  align-items: center;
}