.nav {
    grid-area: nav;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.item > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    padding: 7px 0;
    margin: 1px 0;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #8B8D92;
}

.item a:hover {
    background-color: #C7CBD1;
    color: #FF9800;
    transition: 300ms;
}

.item.active > a{
    color: #334455;
}