.posts {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.posts h2 {
  color: #FF9800;
  margin: 0;
  font-size: 26px;
  font-weight: 500;
}