body {
  background-color: #EBEDEF;
  font-family: 'Montserrat', sans-serif;
}
.App {
  width: 90%;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: #C7CBD1;
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

