body {
  background-color: #EBEDEF;
  font-family: 'Montserrat', sans-serif;
}
.App {
  width: 90%;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: #C7CBD1;
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  grid-area: header;
}
.header a.logo-link {
  display: block;
  width: 50px;
  height: 50px;
  margin: 5px 20px;
}
.header img.App-logo {
  width: 50px;
}
.nav {
  grid-area: nav;
}
.nav > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.nav > div > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  padding: 7px 0;
  margin: 1px 0;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #8B8D92;
}
.nav div a:hover {
  background-color: #C7CBD1;
  color: #FF9800;
  transition: 300ms;
}
.content img {
  width: 100%;
  height: 184px;
  grid-area: content;
}
.content .profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.content .profile img {
  width: 200px;
  height: 150px;
}
.content .profile .user-info {
  padding-left: 20px;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.content .profile .user-info .user-name {
  color: #FF9800;
  font-size: 24px;
  font-weight: 600;
}
.content .profile .user-info-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-top: 40px;
}
.content .posts {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.content .posts h2 {
  color: #FF9800;
  margin: 0;
  font-size: 26px;
  font-weight: 500;
}
.content .posts .new-post {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.content .posts .new-post form {
  width: 100%;
}
.content .posts .new-post textarea {
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
  display: block;
  width: 800px;
  height: 100px;
  background-color: #8B8D92;
  color: #ffffff;
  resize: none;
}
.content .posts .new-post textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.content .posts .new-post textarea:focus, .content .posts .new-post input:focus {
  border: 2px solid #ffffff;
  outline: none;
}
.content .posts .new-post input {
  display: block;
  width: 100px;
  height: 30px;
  background-color: #FF9800;
  border: none;
  margin-top: 5px;
  margin-left: 700px;
  color: #ffffff;
  font-weight: 400;
}
.content .posts .new-post input:hover {
  opacity: 0.8;
  transition: 200ms;
  cursor: pointer;
}
.content .post-list {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
}
.content .post-list .post {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.content .post-list .post img.user-photo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.content .post-list .post .post-text {
  margin-left: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
