body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.App {
  padding: 0 5%;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: #ffffff;
  display: grid;
  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  justify-content: center;
}
@media (max-width: 1024px) {
  .App {
    padding: 0 1%;
    grid-template-columns: 3fr 9fr;
  }
}
@media (max-width: 600px) {
  .App {
    padding: 0 2%;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 60px 180px 1fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "content content";
  }
}